<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Enter New Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS online link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Enter New Password</h1>
                    <form th:action="@{/new-password}" method="post" th:object="${newPasswordDTO}">
                    <div class="form-label-group">
                        <input type="password" id="password" name="password" class="form-control" placeholder="New Password" required>
                        <span class="text-danger" th:errors="*{password}"></span>
                    </div>
                        <br>
                    <div class="form-label-group">
                        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" required>
                        <span class="text-danger" th:errors="*{confirmPassword}"></span>
                    </div>
                    <div th:if="${errorMessage}" class="alert alert-danger mt-3" role="alert">
                        <span th:text="${errorMessage}"></span>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Submit</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap JS online link -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
